

.prevNext{
  float: left;
  padding: 10px;
  border: 1px dotted black;
  margin: 5px;
  cursor: pointer;
}


.u-clearboth{clear:both;}

/* Slider Styles */

.Nav {
  border: 1px solid black;
  width: 400px;
  overflow: hidden;
}

.navList {
  width: 1000px;
}

.navList li{
  list-style: none;
  float: left;
  padding: 5px;
  cursor: pointer;
}


.active {
  border: 1px solid rgb(215, 97, 20);
  color: rgb(215, 97, 20);
}

.navList {
  padding: 0;
  margin: 0;
}
